#outer-cedBtns
{
    width:100%;
    text-align: center;
}
.inner-cedBtns
{
    display: inline-block;
}

#buttonCreate, #buttonEdit, #buttonDelete {
    margin-right: 1%;
    margin-top: 3%;
}


.createEditDeleteBtns {
    margin-left: 3%;
    margin-top: 1%;
    margin-bottom: 1%;
    float: right;
}

/* Width at 640px and below */
@media screen and (max-width: 640px) {

    .createEditDeleteBtns {
      width: 160px;
    }
  
    
  }  