.carousel-inner img  {
     object-fit: contain;
     max-width: 100%;
     height: 50vh !important;
 }

 .carousel-caption {
    padding-bottom: 3% !important;
 }

 /* .carousel-indicators {
     padding-top: 0%;
     
 } */