/*****************Styles*********************/
.container {
  width: 90%;
  height: 50%;
}
#buttonContainer {
    text-align: right;
}

button {
    display: inline-block;
}
.divider{
  width:5px;
  height:auto;
  display:inline-block;
}
.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  font-size: 24px;
}
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    width: 50%;
    margin-top: 5%;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    border:3px solid black;
  }
  .carousel-control {
    background-color: orange;
  }
.carousel-caption {
    position: relative;
    left: 0;
    right: 0;
    color: black;
}
.carousel-indicators li {
  /* background-color: #999; */
  background-color: rgba(70, 70, 70, 0.25);
}

.carousel-indicators .active {
  background-color: #444;
}
/* .carousel-indicators {
  top: 50px;
} */